<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta type="title" content="remote-components-runtime - main project">
        <meta type="descripton" content="main project for remote-components-runtime poc">
        <title>remote-components-runtime - main project</title>
    </head>
    <body>
        <script src="http://localhost:8081/dist/js/textbox.umd.js"></script>
        <script src="http://localhost:8082/dist/js/dropdown.umd.js"></script>
        <div id="main-container"></div>
    </body>
</html>